body {
    /*-webkit-app-region: drag;*/
    /*-webkit-user-select: none;*/
    margin: 0;
    /*height: 100%;*/
    /*width: 100%;*/
    /*min-width: 700px;*/
    /*overflow: hidden;*/
    opacity: 1;
    border-radius: 5px;
}